<p id="notice"><%= notice %></p>

<h1>Listing Custom Activities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Completion time</th>
      <th>Link</th>
      <th>Snippet</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_activities.each do |custom_activity| %>
      <tr>
        <td><%= custom_activity.name %></td>
        <td><%= custom_activity.completion_time %></td>
        <td><%= custom_activity.link %></td>
        <td><%= custom_activity.snippet %></td>
        <td><%= custom_activity.content %></td>
        <td><%= link_to 'Show', custom_activity %></td>
        <td><%= link_to 'Edit', edit_custom_activity_path(custom_activity) %></td>
        <td><%= link_to 'Destroy', custom_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end%>
  </tbody>
</table>

<br>

<%= link_to 'New Custom activity', new_custom_activity_path %>
