<style>
	/*Activity module*/
  @media screen and (max-width: 675px) {
      .activity {
          width: 300px;
      }
  }

  .jumbotron {
    padding: 0;
    position: relative;
  }

  .activity {
    position: relative;
    top: 75px;
    margin: 0 auto;
    width: 90%;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #eee;
    border-top-left-radius: 5px;
  	border-top-right-radius: 5px;
    margin-bottom: 50px;
  }

  .activity header {
    text-align: center;
    vertical-align: center;
    background-color: rgb(31, 137, 229);
    color: white;
  }

  .activity header h3 {
  	margin: 0;
    padding: 15px;
  }

  /*TODO: Fix adjusting section container*/
  .activity section {
  	overflow: hidden;
  	margin-bottom: 0;
    padding: 10px;

  }

  .activity section p {
  	overflow: scroll;
    width: 100%;
  	font-family: 'Lato', sans-serif;
    font-weight: 300;
  	font-size: 100%;
  	margin: 10px;
    padding: 10px;
  }

  .activity section .thumbnail {
    width: 100%;
    overflow: scroll;
    border: none;
    font-size: 18px;
    margin-bottom: 100px;
  }

  .activity section .content-video {
    text-align: center;
  }

  .activity section .likeContainer {
  	margin: 0 auto;
  }

  .activity .footer {
    height: 100px;
    position: absolute;
    width: 100%;
  	background-color: #f5f5f5;
  	bottom: 0;
  	border: 1px solid #ddd;
    margin-top: 30px;
  }

  .activity .footer a {
  	top: 10px;
  	text-decoration: none;
  	color: #2980B9;
  }

  .activity footer a:hover {
  	background-color: #f5f5f5;
  	color: #2980B9;
  	opacity: .7;
  }

  #like-count {
    color: rgb(92, 184, 92);
  }

  #dislike-count {
    color: rgb(217, 83, 79);
  }

  .like-btn {
    background-color: rgb(92, 184, 92);
    border-color: rgb(92, 184, 92);  
    margin-bottom: 10px;
  }

  .like-btn:hover, .like-btn:active, .like-btn:visited, .like-btn:focus {
    background-color: #198A00;
    outline: none;
  }

  .dislike-btn {
    background-color: rgb(217, 83, 79);
    border-color: rgb(217, 83, 79);
    margin-bottom: 10px;
  }

    .dislike-btn:hover, .dislike-btn:active, .dislike-btn:visited, .dislike-btn:focus {
    background-color: #9D251B;
    outline: none;
  }

  .buttonContainer {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;

  }

  .buttonContainer button:hover {
  	opacity: .8;
  	cursor: pointer;
  }

  .likeContainer {
    width: 25%;
    margin: 0 auto;
    text-align: center; 
  }


  .linkContainer {
    margin-top: -35px;
    padding-left: 10px;
    padding-right: 10px; 
  }

  a:hover {
  	background-color: transparent;
    font-size: 100%;
  }

  #share {
    float: right;
    cursor: pointer;
    margin-right: 10px;
    font-size: 25px;
    margin-top: 25px;

  }

  #back {
    font-size: 25px;
    margin-left: 10px;
    float: left;
    margin-top: 25px;
  }

  #likes {
    margin-right: 25px;
    font-size: 14px;
  }

  #dislikes {
    font-size: 14px;
    margin-left: 28px;
  }


  #link {
    margin-top: 10px;
    font-size: 18px;
  }
</style>


<div class="jumbotron activity">
  <header>
      <h3 id="title"><%= title %></h3>
  </header>  

  <section>
    <div class="thumbnail">
      <!-- <img src="..." alt="..."> -->
      <p>
        <div id="content"><%= content %></div>
      </p>
    </div>
  </section>

  <footer class="footer">
      <div class="buttonContainer">
      <a id="back" href='<%= backLink %>'> Back </a>   
      <a id="share"> Share </a>
      <div class="likeContainer">
      <span id="likes"><span id="like-count"><%= likes %></span></span>
      <span id="dislikes"><span id="dislike-count"><%= dislikes %></span></span>
      <br>
      <button class='btn btn-primary like-btn' role="button">Like</button>
      <button class='btn btn-primary dislike-btn' role="button">Dislike</button><br> 
      <div class="content-link"><a id="link" href='<%= link %>' target="_blank"> Link </a></div>
      </div> 
      </div>
  </footer>
</div>