<td><%= title %></td>
<td><%= content %></td>
<td><%= completion_time %></td>
<td><%= content_type %></td>
<td><%= link %></td>

<td><a href="#/<%= id %>">Show</a></td>
<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
