<h1>Edit activity</h1>

<form id="edit-activity" name="activity">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value="<%= content %>" >
  </div>

  <div class="field">
    <label for="completion_time"> completion_time:</label>
    <input type="text" name="completion_time" id="completion_time" value="<%= completion_time %>" >
  </div>

  <div class="field">
    <label for="content_type"> content_type:</label>
    <input type="text" name="content_type" id="content_type" value="<%= content_type %>" >
  </div>

  <div class="field">
    <label for="link"> link:</label>
    <input type="text" name="link" id="link" value="<%= link %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Activity" />
  </div>

</form>

<a href="#/index">Back</a>
