<!-- Temporary styling -->

<div class="historyOuter">
<div class="histContainer animated pulse">
	<header> 
		<h3 id='historyTitle'> History for <%= name%> </h3> 
	</header>
	<section>
		<div class="tableContainer">
			<table id="histTable" class="table table-hover">
				<tbody>
					<% _.each(data, function(custAct) { %> 
						<tr class='history <%= custAct.id %>'>
							<td> <a href='/tempo#activities/<%= custAct.id%>?history=true'> <%= custAct.title%> </a></td>
						</tr>
						<% }); %>			
				</tbody>
			</table>
		</div>
	</section>
</div>

<div class="custHistContainer animated pulse">
	<header> 
		<h3 id='customHistoryTitle'> Custom Activity History for <%= name%> </h3> 
	</header>
	<section>
		<div class="tableContainer">
			<table id="customHistTable" class="table table-hover">
				<tbody>
					<% _.each(custData, function(custAct) { %> 
						<tr class='history <%= custAct.id %>'>
							<td>  <a href='/tempo#customActivity/<%= custAct.id%>?history=true'> <%= custAct.title%> </a></td>
						</tr>
						<% }); %>			
				</tbody>
			</table>
		</div>
	</section>
</div>
</div>
