<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Content:</b>
  <%= content %>
</p>

<p>
  <b>Completion time:</b>
  <%= completion_time %>
</p>

<p>
  <b>Content type:</b>
  <%= content_type %>
</p>

<p>
  <b>Link:</b>
  <%= link %>
</p>


<a href="#/index">Back</a>